
.botao {
    background-color: #6278F7;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-weight: 700;
    padding: 16px;
    margin-top: 16px;
    transition: .5s;
    cursor: pointer;
}

.botao:hover{
    background-color: #ffffff;
    color: #6278F7;
    border: 1px solid #6278F7;
}