

.banner{
    background: rgb(14,53,83);
    background: linear-gradient(90deg, rgb(8, 36, 58) 0%, rgba(217,217,217,1) 35%, rgba(229,135,22,1) 100%);
    text-align: center;
}

.banner img {
    max-width: 100%;
}