.campo-texto{
    margin: 24px 0;;
}

.campo-texto label, .campo-cor label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.campo-texto input, .campo-cor input{
    background-color: #ffffff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.31);
    border: none;
    font-size: 24px;
    box-sizing: border-box;
}

.campo-cor input{

}

.campo-texto input{
    padding: 24px;
    width: 100%;
}